footer {
  position: relative;
  height: 4.5rem;
  background-color: color(green, dark);  
}

.app-download-badges {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  padding-left: 12%;
  padding-right: 12%;
  
  a {
    position: relative;
    display: flex;
    align-items: center;
    height: 70%;
    padding-left: 1%;
    padding-right: 1%;
  }
  
  svg {
    height: 100%;
    width: auto;
    
    @media (max-width: $small) {
      width: 100%;
      height: auto;
      max-width: 12rem;
    }
  }
}



#app-store-badge {

}

#google-play-badge {

}